<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="register-container">
    <mat-form-field appearance="fill">
        <mat-label>Prefijo</mat-label>
        <mat-select>
            <mat-option>None</mat-option>
            <mat-option *ngFor="let prefijo of listaPrefijos" [value]="prefijo.id_prefijo">+{{prefijo.prefijo}}
                ({{prefijo.pais}})
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field hintLabel="Max 10 caracteres" appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput [(ngModel)]="usuario.telefono" #telefono id="telefono" maxlength="10" placeholder="Telefono"
            name="telefono" class="example-right-align" type="number" required>
        <mat-hint align="end">{{telefono.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <!--<mat-form-field appearance="fill">
    <input matInput [(ngModel)]="usuario.contrasena"
        #contrasena id="contrasena" name="contrasena"
        placeholder="Contraseña" type="password" required
    >
</mat-form-field>-->

    <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailFormControl"
                placeholder="Ex. pat@example.com" #correo id="correo" name="correo">
            <mat-error *ngIf="formGroup.controls['emailFormControl'].hasError('email') && !formGroup.controls['emailFormControl'].hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="formGroup.controls['emailFormControl'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.contrasena" #contrasena id="contrasena"
            name="contrasena" placeholder="Contraseña" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 caracteres" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="usuario.nombre" #nombre id="nombre" maxlength="50" placeholder="Nombre"
            name="nombre" class="example-right-align" required>
        <mat-hint align="end">{{nombre.value?.length || 0}}/50</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Max 50 caracteres" appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput [(ngModel)]="usuario.apellido" #apellido id="apellido" maxlength="10" placeholder="Apellido"
            name="apellido" class="example-right-align" required>
        <mat-hint align="end">{{apellido.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
    <!--TODO to be changed some day to support a file picker rather than a plain url adress-->
    <mat-form-field appearance="fill">
        <mat-label>URL imagen</mat-label>
        <input matInput [(ngModel)]="usuario.urlImagen" #urlImagen id="urlImagen" placeholder="Url Imagen"
            name="urlImagen" class="example-right-align">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="doRegister($event)">Registrar</button>
</div>